<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="row">
    <mat-form-field>
      <input matInput [formControlName]="'code'" [placeholder]="'code' | translate" required />
      <mat-error class="col" *ngIf="formGroup.get('code')?.hasError('required')">
        {{'code'| translate}} {{'required' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput [formControlName]="'password'" [placeholder]="'password' | translate" required />
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error class="col" *ngIf="formGroup.get('password')?.hasError('required')">
        {{'password'| translate}} {{'required' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="navigation">
    <div>
      <button mat-raised-button color="blue"
              type="submit"
              [disabled]="!formGroup.valid">
        {{'login'| translate}}
      </button>
    </div>
    <div class="link-container">
      <div>
        <a [routerLink]="['../change-password']">{{'forgotpassword'| translate}}</a>
      </div>
    </div>
  </div>
</form>
