table {
  width: 100%;
  border: thin solid black;
}
h1{
    margin:0px;
}
.tr{
  height:20px;
}
.logo {
  width: 40%;
  text-align: center;
}
.title {
  width:40%;
  text-align:center;
  border-right: thin solid black;
  border-left: thin solid black;
  background-color: #A2A2A2;
}
.version-item {

  font-size:10px;
  white-space: pre;
  width: 20%;
  text-align: center;
}
