table {
  width: 100%;
  border: thin solid black;
}
.tr{
  height:20px;
}
.logo {
  width: 20%;
  text-align: center;
}
.title {
  width:60%;
  text-align:center;
  border-right: thin solid black;
  border-left: thin solid black;
  background-color: #A2A2A2;
}
.version-item {
  width: 20%;
  text-align: center;
}
