<dialog-header [title]="title" (cancel)="onCancel()"></dialog-header>
<mat-dialog-content *ngIf="formGroup">
  <mat-stepper orientation="horizontal" #mystepper>
    <mat-step state="perm_data_setting" label="{{'roles.edit'| translate}}" errorMessage="{{'roleName'| translate}} {{'required' | translate}}">
      <ng-template matStepContent>
        <form [formGroup]="formGroup">
          <div class="row pt-2">
            <mat-form-field class="col">
              <input matInput [formControlName]="'name'" [placeholder]="'name' | translate" required />
              <mat-error class="col" *ngIf="formGroup?.get('name')?.hasError('required')">
                {{'name'| translate}} {{'required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row pt-2">
            <mat-form-field class="col">
              <input matInput [formControlName]="'translatedName'" [placeholder]="'translatedName' | translate" required />
              <mat-error class="col" *ngIf="formGroup?.get('translatedName')?.hasError('required')">
                {{'translatedName'| translate}} {{'required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row pt-2">
            <mat-form-field class="col">
              <input matInput [formControlName]="'code'" [placeholder]="'code' | translate" required />
              <mat-error class="col" *ngIf="formGroup?.get('code')?.hasError('required')">
                {{'code'| translate}} {{'required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row pt-2">
            <mat-checkbox [formControlName]="'isDefault'"> {{'isDefault'| translate}}</mat-checkbox>
          </div>
        </form>
      </ng-template>
    </mat-step>
    <mat-step state="supervisor_account">
      <ng-template matStepLabel>{{'users.title'| translate}}</ng-template>
      <app-role-user-editor [roleId]="id" (resfresh)="refreshUsers($event)"></app-role-user-editor>
    </mat-step>
    <mat-step state="playlist_add_check">
      <ng-template matStepLabel>{{'roles.permissions'| translate}}</ng-template>
      <app-role-menu-editor [roleId]="id" (resfreshSelectionTree)="refreshMenu($event)"></app-role-menu-editor>
    </mat-step>
    <ng-template matStepperIcon="perm_data_setting">
      <mat-icon>perm_data_setting</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="supervisor_account">
      <mat-icon>supervisor_account</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="playlist_add_check">
      <mat-icon>playlist_add_check</mat-icon>
    </ng-template>
  </mat-stepper>
  
</mat-dialog-content>
<div mat-dialog-actions *ngIf="stepper" [ngClass]="stepper.selectedIndex !== 0 ? 'stepper-buttons' : 'stepper-buttons-flex-end'">
  <ng-container *ngIf="stepper.selectedIndex == 0">
    <button mat-raised-button
            color="blue"
            [disabled]="formGroup && !formGroup.valid"
            (click)="goForward(stepper)">
      {{ 'next' | translate}}
    </button>
  </ng-container>
  <ng-container *ngIf="stepper.selectedIndex == 1">
    <button mat-stroked-button
            color="blue"
            (click)="goBack(stepper)">
      {{ 'back' | translate }}
    </button>
    <button mat-raised-button
            color="blue"
            [disabled]="formGroup && !formGroup.valid"
            (click)="goForward(stepper)">
      {{ 'next' | translate}}
    </button>
  </ng-container>
  <ng-container *ngIf="stepper.selectedIndex == 2">
    <button mat-stroked-button
            color="blue"
            (click)="goBack(stepper)">
      {{ 'back' | translate }}
    </button>
    <button mat-raised-button
            color="blue"
            [disabled]="accessMenu.length == 0"
            (click)="onSave()">
      {{ 'save' | translate}}
    </button>
  </ng-container>
</div>


