<dialog-header [title]="title" (cancel)="onCancel()"></dialog-header>
<mat-dialog-content>
  <mat-stepper orientation="horizontal" #mystepper>
    <mat-step state="perm_data_setting">
      <ng-template matStepLabel>{{'defectgroups.edit'| translate}}</ng-template>
      <ng-template matStepContent>

      </ng-template>
    </mat-step>
    <mat-step state="supervisor_account">
      <ng-template matStepLabel>{{'products.title'| translate}}</ng-template>

    </mat-step>
    <mat-step state="playlist_add_check">
      <ng-template matStepLabel>{{'operations.title'| translate}}</ng-template>

    </mat-step>
    <mat-step state="playlist_add_check">
      <ng-template matStepLabel>{{'defects.title'| translate}}</ng-template>

    </mat-step>
    <ng-template matStepperIcon="perm_data_setting">
      <mat-icon>perm_data_setting</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="supervisor_account">
      <mat-icon>supervisor_account</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="playlist_add_check">
      <mat-icon>playlist_add_check</mat-icon>
    </ng-template>
  </mat-stepper>

</mat-dialog-content>
<div mat-dialog-actions *ngIf="stepper" [ngClass]="stepper.selectedIndex !== 0 ? 'stepper-buttons' : 'stepper-buttons-flex-end'">
  <ng-container *ngIf="stepper.selectedIndex == 0">
    <button mat-raised-button
            color="blue"
            (click)="goForward(stepper)">
      {{ 'next' | translate}}
    </button>
  </ng-container>
  <ng-container *ngIf="stepper.selectedIndex == 1">
    <button mat-stroked-button
            color="blue"
            (click)="goBack(stepper)">
      {{ 'back' | translate }}
    </button>
    <button mat-raised-button
            color="blue"
            (click)="goForward(stepper)">
      {{ 'next' | translate}}
    </button>
  </ng-container>
  <ng-container *ngIf="stepper.selectedIndex == 2">
    <button mat-stroked-button
            color="blue"
            (click)="goBack(stepper)">
      {{ 'back' | translate }}
    </button>
    <button mat-raised-button
            color="blue"
            (click)="goForward(stepper)">
      {{ 'next' | translate}}
    </button>
  </ng-container>
  <ng-container *ngIf="stepper.selectedIndex == 3">
    <button mat-stroked-button
            color="blue"
            (click)="goBack(stepper)">
      {{ 'back' | translate }}
    </button>
    <button mat-raised-button
            color="blue"
            (click)="onSave()">
      {{ 'save' | translate}}
    </button>
  </ng-container>
</div>



