<mat-toolbar>
  <mat-toolbar-row>
    <span class="company-name">{{companyName}}</span>
    
    <span class="example-spacer"></span>
    <span class="center-span"><img [src]="imageSrc" class="logo" /></span>
    <span><a (click)="setLanguage('hu', $event)" class="lang">hu</a></span>
    <span><a (click)="setLanguage('de' , $event)" class="lang">de</a></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    {{name}}
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <ng-container *ngFor="let module of modules">
      <button class="col me-2 ms-2 primary-dark"
              routerLinkActive="active"
              mat-stroked-button
              [routerLink]="[module.node.path]">
        {{module.node.title}}
      </button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
