.example-spacer {
  flex: 1 1 auto;
}
.lang {
  padding-left: 5px;
  color: #8f534b;
  z-index: 1000;
  font-family: 'CormorantGaramond', 'arial', sans-serif;
}

.lang:hover {
  cursor: pointer;
}
.center-span {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.logo {
    width:200px;
}
.company-name {
  color: #7c7c7c;
  letter-spacing: 1px;
  text-transform: uppercase;
}
