<form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
  <div class="row">
    <mat-form-field>
      <input matInput [placeholder]="'code' | translate" required />
      <mat-error *ngIf="formGroup.get('code')?.hasError('required')">
        {{'code'| translate}} {{'required' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="navigation">
    <div>
      <button mat-raised-button color="blue"
              type="submit"
              [disabled]="!formGroup.valid">
        {{'newpasswordrequest'| translate}}
      </button>
    </div>
    <div class="link-container">
      <div>
        <a [routerLink]="['../login']">{{'login'| translate}}</a>
      </div>
    </div>
  </div>
</form>

