<form [formGroup]="formGroup" *ngIf="formGroup">
  <div formArrayName="defects" *ngFor="let item of itemsFormArray.controls; let i = index">
    <mat-card [formGroupName]="i" class="defect-card">
      <div class="flex-defect">
        <div class="form-div">
          <div class="row">
            <mat-form-field>
              <input matInput [formControlName]="'name'" [placeholder]="'name' | translate" required />
              <mat-error class="col" *ngIf="itemsFormArray.controls[i].get('name')?.hasError('required')">
                {{'name'| translate}} {{'required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
              <input matInput [formControlName]="'code'" [placeholder]="'code' | translate" required />
              <mat-error class="col" *ngIf="itemsFormArray.controls[i].get('code')?.hasError('required')">
                {{'code'| translate}} {{'required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col">
              <input matInput [formControlName]="'translatedName'" [placeholder]="'translatedName' | translate" required />
              <mat-error class="col" *ngIf="itemsFormArray.controls[i].get('translatedName')?.hasError('required')">
                {{'translatedName'| translate}} {{'required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col">
              <mat-select [formControlName]="'defectCategory'" [placeholder]="'defects.defectCategory' | translate" required>
                <mat-option *ngFor="let option of categories" [value]="option.id">
                  {{ option.name }}
                </mat-option>
              </mat-select>
              <mat-error class="col" *ngIf="itemsFormArray.controls[i].get('defectCategory')?.hasError('required')">
                {{'defects.defectCategory'| translate}} {{'required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button type="button"
                  mat-icon-button
                  color="primary"
                  (click)="removeDefect(i)">
            <mat-icon mat-list-icon [color]="'primary'">delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="row justify-content-center">
    <button mat-fab color="primary" (click)="addDefect(null)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>

