
.module {
}
.main {
  padding-left: 60px !important;
}
.sub {
  padding-left: 80px !important;
}
.sub2 {
  padding-left: 120px !important;
}
.main-with-icon {
  padding-left: 40px !important;
}

.sub-with-icon {
  padding-left: 60px !important;
}
