
<div cdkDropListGroup class="content">
  <div class="example-container">
    <h3>Választható hibák</h3>
    
    <div class="info-box">
      <mat-icon color="accent">info</mat-icon>
      <p>Kérem húzza a hibakódot a jobb oldalon található hibacsoport megfelelő sorába a hozzáadáshoz</p>
    </div>
    <div cdkDropList
         [cdkDropListData]="defects"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of defects" cdkDrag> {{item.code}} -  {{ (languageService.getCurrentLanguage() | async) == 'hu' ? item.name : item.translatedName}}</div>
    </div>
  </div>
  <div class="edit">
    <div>
      <h3>Hibacsoport sorok</h3>
    </div>
    <table mat-table
           [dataSource]="dataSource"
           class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Hibacsoport megnevezése</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]='element.node.name' [name]='element.node.name'>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="relation">
        <th mat-header-cell *matHeaderCellDef>
          Hibacsoport elemei
          <div class="info-box">
            <mat-icon color="accent">info</mat-icon>
            <p>Kérem húzza a hibát a megfelelő sorba a hozzáadáshoz a bal oldalt található listából</p>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <app-defect-group-defect-child [child]="element"></app-defect-group-defect-child>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Törlés </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="delete(element)" color="primary"><mat-icon>delete</mat-icon></button> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"></tr>
    </table>
    <div class="row justify-content-center pt-3">
      <button class="new-defect" mat-raised-button color="primary" (click)="addGroupFromNode()">
        Új hibacsoport sor hozzáadása
      </button>
    </div>
  </div>
  
</div>

