.mat-sidenav-content {
  margin-top: 10px;
}

.router-container {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}

.router {
  width: 100vh;
  flex-grow: 2;
  margin-bottom: 10px;
}

.mat-sidenav {
  border-top-right-radius: var(--border-top-right-radius);
  width: 270px;
  margin-top: 10px;
  border: 0px;
}

.mat-sidenav-container {
  position: fixed;
  top: 145px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidebar-button {
  cursor: pointer;
  padding: 0;
  min-width: 0;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  line-height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

$mat-sidebar-icon-button-margin-compensation: 1.2;
$mat-sidebar-icon-size: 14px * $mat-sidebar-icon-button-margin-compensation;

.sidebar-icon {
  color: white;
  height: $mat-sidebar-icon-size;
  width: $mat-sidebar-icon-size;
  font-size: $mat-sidebar-icon-size;
  padding: 10px;
  display: table-cell;
}
