<div class="container-fluid">
  <div class="flex-title">
    <app-title class="flex-title-item" [title]="title" [contentTemplate]="tooltipTemplate"></app-title>
  </div>
  <form [formGroup]="formGroup" *ngIf="formGroup">
    <mat-form-field class="col">
      <mat-select [formControlName]="'operation'" [placeholder]="'operationName' | translate" #singleSelect required>
        <mat-option>
          <ngx-mat-select-search [formControl]="filterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let option of filtered | async" [value]="option">
          {{option.code}} - {{ (languageService.getCurrentLanguage() | async) == 'hu' ? option.name : option.translatedName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.get('operation')?.hasError('required')">
        {{'operationName'| translate}} {{'required' | translate}}
      </mat-error>
    </mat-form-field>
  </form>
  <ng-container *ngIf="formGroup">
    <app-summary-card-print-view [operation]="formGroup.get('operation')?.value"></app-summary-card-print-view>
  </ng-container>
</div>

<ng-template #tooltipTemplate>
  <div class="headerrow">
    <h3>Nyomtatás</h3>
  </div>
  <div style="display: flex; flex-direction: column">
    <span>A műveletkód kiválasztása után nyomtatható az aktuális hibagyűjtő lap</span>
    <br>
  </div>
</ng-template>
