<div class="container-fluid">
  <div class="flex-title">
    <app-title class="flex-title-item" [title]="title" [contentTemplate]="tooltipTemplate"></app-title>
    <button mat-flat-button (click)="onAddContext()" color="primary"> {{'add' | translate}} </button>
  </div>
  <app-table-toolbar (btnClick)="onExport()">
  </app-table-toolbar>
  <div class="responsive-table-container">
    <table mat-table [dataSource]="dataSource"
           class="w-100"
           *ngIf="filterForm"
           matSort
           (matSortChange)="sortData($event)" id="excel-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'name' | translate}}  </th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="translatedName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'translatedName' | translate}}  </th>
        <td mat-cell *matCellDef="let element">{{element.translatedName}}</td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'code' | translate}}  </th>
        <td mat-cell *matCellDef="let element">{{element.code}}</td>
      </ng-container>
      <ng-container matColumnDef="workshopName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'workshopName' | translate}}  </th>
        <td mat-cell *matCellDef="let element">{{element.workshopName}}</td>
      </ng-container>
      <ng-container matColumnDef="copy">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'copy' | translate}}  </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <button type="button" mat-icon-button (click)="onCopy(element)">
            <mat-icon mat-list-icon color="primary">content_copy</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'edit' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <button type="button"
                  mat-icon-button
                  color="primary"
                  (click)="onEditContext(element)">
            <mat-icon mat-list-icon [color]="'primary'">edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{'delete' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <button type="button"
                  mat-icon-button
                  color="danger"
                  (click)="onDelete(element.id)">
            <mat-icon mat-list-icon [color]="'warn'">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container [formGroup]="filterForm">
        <ng-container *ngFor="let filter of filterableColumns; let i = index">
          <ng-container [matColumnDef]="filter.columnDef">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <mat-label> {{'search' | translate}}</mat-label>
                <input matInput [formControlName]="filter.name" />
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </th>
          </ng-container>
        </ng-container>
        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef class="text-center" [attr.colspan]="3"> </th>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-header-row *matHeaderRowDef="filterableColumnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
    </table>
    <mat-paginator [length]="totalCount"
                   [pageSize]="paginationService.pageCount"
                   [pageSizeOptions]="paginationService.selectItemsPerPage"
                   (page)="switchPage($event)">
    </mat-paginator>
  </div>

</div>
<ng-template #tooltipTemplate>
  <div class="headerrow">
    <h3>Termékek</h3>
  </div>
  <div style="display: flex; flex-direction: column">
    <span>A rögzített termékek listája</span>
    <span>Hozzáadás: Új termék létrehozása varázsló segítségével, ahol a kapcsoló műveletek és hibák rögzítésére is van lehetőség</span>
    <span>Szerkesztés: Az adott termék adatainak módosítása varázsló segítségével, ahol a kapcsoló műveletek és hibák rögzítésére is van lehetőség</span>
    <span>Törlés: Az adott termék törlése. <strong>Figyelem, csak olyan termék törölhető, amelyhez nem tartoznak műveletek</strong></span>
    <span>Exportálás: Lista exportálása xlsx formátumban</span>
    <br>
  </div>
</ng-template>
