<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="row">
    <mat-form-field>
      <input matInput [formControlName]="'code'" [placeholder]="'code' | translate" required />
      <mat-error class="col" *ngIf="formGroup.get('code')?.hasError('required')">
        {{'code'| translate}} {{'required' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput [formControlName]="'oldPassword'" [placeholder]="'temporarypassword' | translate" required />
      <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error class="col" *ngIf="formGroup.get('oldPassword')?.hasError('required')">
        {{'temporarypassword'| translate}} {{'required' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput [formControlName]="'newPassword'" [type]="hideNew ? 'password' : 'text'" [placeholder]="'newpassword' | translate" required />
      <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="formGroup.get('newPassword')?.hasError('hasNumber')">
        A jelszónak tartalmaznia kell számot!
      </mat-error>
      <mat-error *ngIf="formGroup.get('newPassword')?.hasError('hasCapitalCase')">
        A jelszónak tartalmaznia kell egy nagybetűs karaktert!
      </mat-error>
      <mat-error *ngIf="formGroup.get('newPassword')?.hasError('hasSmallCase')">
        A jelszónak tartalmaznia kell egy kisbetűs karaktert!
      </mat-error>
      <mat-error *ngIf="formGroup.get('newPassword')?.hasError('minlength')">
        A jelszónak legalább 8 karakter hosszúnak kell lennie!
      </mat-error>
      <mat-error *ngIf="formGroup.get('newPassword')?.hasError('required')">
        {{'password'| translate}} {{'required' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput [formControlName]="'newPasswordRe'" [type]="hideNewRe ? 'password' : 'text'" [placeholder]="'newpassword' | translate" required />
      <mat-icon matSuffix (click)="hideNewRe = !hideNewRe">{{hideNewRe ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="formGroup.get('newPasswordRe')?.hasError('required')">
        {{'password'| translate}} {{'required' | translate}}
      </mat-error>
      <mat-error>
        <ng-container *ngIf="formGroup.get('newPassword') !== formGroup.get('newPasswordRe')">
          A két jelszó nem egyezik!
        </ng-container>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="navigation">
    <div>
      <button mat-raised-button color="blue"
              type="submit"
              [disabled]="!formGroup.valid && formGroup.get('newPassword') !== formGroup.get('newPasswordRe')">
        {{'changepassword'| translate}}
      </button>
    </div>
  </div>
</form>

