<div class="row justify-content-center">
  <mat-card class="col-5 pt-3">
    <div class="mainheader">
      <h1> {{'changepassword'| translate}} </h1>
    </div>
    <div class="row pt-3">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center pt-1">
          <mat-form-field class="col-9">
            <input matInput [formControlName]="'code'" [placeholder]="'code' | translate" required />
            <mat-error class="col" *ngIf="formGroup.get('code')?.hasError('required')">
              {{'code'| translate}} {{'required' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row justify-content-center pt-1">
          <mat-form-field class="col-9">
            <input matInput [formControlName]="'oldPassword'" [placeholder]="'oldpassword' | translate" required />
            <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error class="col" *ngIf="formGroup.get('oldPassword')?.hasError('required')">
              {{'oldpassword'| translate}} {{'required' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row justify-content-center pt-1">
          <mat-form-field class="col-9">
            <input matInput [formControlName]="'newPassword'" [type]="hideNew ? 'password' : 'text'" [placeholder]="'newpassword' | translate" required />
            <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="formGroup.get('newPassword')?.hasError('hasNumber')">
              A jelszónak tartalmaznia kell számot!
            </mat-error>
            <mat-error *ngIf="formGroup.get('newPassword')?.hasError('hasCapitalCase')">
              A jelszónak tartalmaznia kell egy nagybetűs karaktert!
            </mat-error>
            <mat-error *ngIf="formGroup.get('newPassword')?.hasError('hasSmallCase')">
              A jelszónak tartalmaznia kell egy kisbetűs karaktert!
            </mat-error>
            <mat-error *ngIf="formGroup.get('newPassword')?.hasError('minlength')">
              A jelszónak legalább 8 karakter hosszúnak kell lennie!
            </mat-error>
            <mat-error *ngIf="formGroup.get('newPassword')?.hasError('required')">
              {{'password'| translate}} {{'required' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row justify-content-center pt-1">
          <mat-form-field class="col-9">
            <input matInput [formControlName]="'newPasswordRe'" [type]="hideNewRe ? 'password' : 'text'" [placeholder]="'newpassword' | translate" required />
            <mat-icon matSuffix (click)="hideNewRe = !hideNewRe">{{hideNewRe ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="formGroup.get('newPassword')?.hasError('required')">
              {{'password'| translate}} {{'required' | translate}}
            </mat-error>
            <mat-error>
              <ng-container *ngIf="formGroup.get('newPassword') !== formGroup.get('newPasswordRe')">
                A két jelszó nem egyezik!
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row justify-content-center pt-3">
          <button class="col-6" mat-raised-button color="primary"
                  type="submit"
                  [disabled]="!formGroup.valid">
            {{'login'| translate}}
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>

