<div class="container-fluid">
  <div class="flex-title">
    <app-title class="flex-title-item" [title]="title"></app-title>
  </div>
  <div class="dashboard">
    <div class="summary-grid-container">
      <div>
        <app-info-card [summary]="ppmSummary"></app-info-card>
      </div>
      <div>
        <app-info-card [summary]="crapCostSummary"></app-info-card>
      </div>
      <div>
        <app-info-card [summary]="quanitySummary"></app-info-card>
      </div>
      <div>
        <app-info-card [summary]="defectQuantitySummary"></app-info-card>
      </div>
    </div>
    <div class="table-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'warning' | translate }}</mat-card-title>
          <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-ppm-warning-table [ppmWarningList]="ppmWarningList"></app-ppm-warning-table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="grid-chart-container">
      <div>
        <mat-card *ngIf="dashboardPpmChartModel" class="chart-card">
          <mat-card-header>
            <mat-card-title>PPM</mat-card-title>
            <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <app-workshop-ppm-chart [model]="dashboardPpmChartModel"></app-workshop-ppm-chart>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card *ngIf="dashboardCrapCostChartModel" class="chart-card">
          <mat-card-header>
            <mat-card-title>{{ 'crapcost' | translate }}</mat-card-title>
            <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <app-workshop-crap-cost-chart [model]="dashboardCrapCostChartModel"></app-workshop-crap-cost-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="grid-workshop-container">
      <div class="grid-workshop-item" *ngFor="let production of dashboardProductionInfoChartModels">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ production.item.workshopName }}</mat-card-title>
            <mat-card-subtitle>{{subtitle}} </mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <app-production-chart [model]="production"></app-production-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

