<mat-drawer-container class="example-container" autosize cdkDropListGroup>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="example-container">
      <h3>Hozzáadható {{ 'operations.title' | translate }}</h3>
      <div class="info-box">
        <mat-icon color="accent">info</mat-icon>
        <p>Kérem húzza a műveletet a jobb oldalon található műveletcsoport megfelelő sorába a hozzáadáshoz</p>
      </div>
      <div cdkDropList
           [cdkDropListData]="operations"
           class="example-list"
           (cdkDropListDropped)="entityGroupService.drop($event,entityGroupService.treeForm,false)">
        <div class="example-box" *ngFor="let item of operations" cdkDrag> {{item.code}} -  {{ (languageService.getCurrentLanguage() | async) == 'hu' ? item.name : item.translatedName}}</div>
      </div>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content" *ngIf="entityGroupService.treeForm">
    <div class="base-grey router-container">
      <div class="col-auto">
        <ng-container>
          <div (click)="drawer.toggle()"
               disableRipple="true"
               class="primary sidebar-button">
            <div class="operation">Műveletek</div>
            <div>
              <mat-icon class="sidebar-icon">arrow_forward_ios</mat-icon>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="router">
        <form [formGroup]="entityGroupService.treeForm">
          <ng-container formArrayName="children">
            <table mat-table
                   [dataSource]="dataSource"
                   multiTemplateDataRows
                   class="mat-elevation-z8">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Műveletcsoport megnevezése </th>
                <td mat-cell *matCellDef="let element" [formGroup]="element.get('node')">
                  <mat-form-field>
                    <input matInput [formControlName]="'name'">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="relation">
                <th mat-header-cell *matHeaderCellDef>
                  Műveletcsoport elemei
                  <div class="info-box">
                    <mat-icon color="accent">info</mat-icon>
                    <p>Kérem húzza a műveletet a megfelelő sorba a hozzáadáshoz a bal oldalt található listából</p>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <app-defect-group-operation-child [item]="element"></app-defect-group-operation-child>
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Törlés </th>
                <td mat-cell *matCellDef="let element; let i = dataIndex;">
                  <button mat-icon-button (click)="remove(i)" color="primary">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef class="expand-header"> Hibacsoport sorok szerkesztése </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container>
                    <button mat-icon-button aria-label="expand row"
                            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                      <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                  </ng-container>
                </td>
              </ng-container>
              Expanded Content Column - The detail row is made up of this one column that spans across all columns
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                  <div class="example-element-detail"
                       [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <app-defect-group-defect-editor [tree]="element"></app-defect-group-defect-editor>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
          </ng-container>
        </form>
        <div class="row justify-content-center pt-3">
          <button class="new-op" mat-raised-button color="primary" (click)="addGroupFromNode()">
            Új műveletcsoport sor hozzáadása
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>

