<app-header class="header"></app-header>
<mat-sidenav-container class="router-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="menu-button">
    </div>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <button mat-icon-button (click)="sidenav.toggle()">
  <ng-container *ngIf="open;else close">
    <mat-icon>chevron_left</mat-icon>
   </ng-container> </button>
  <ng-template #close>
    <mat-icon>chevron_right</mat-icon>
  </ng-template>
  <router-outlet></router-outlet>
</mat-sidenav-container>
<app-footer class="footer"></app-footer>
