.marker {
  height: 20px;
  border-left: solid;
  margin-right: 15px;
  align-self: center;
}

.group {
  border-left-color: #F9A825;
}

.head {
  border-left-color: #4CAF50;
}
.button-container{
    margin-left:10px;
    display:flex;
}

