<dialog-header [title]="title" (cancel)="onCancel()"></dialog-header>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="row pt-2">
      <mat-form-field class="col">
        <input matInput [formControlName]="'name'" [placeholder]="'name' | translate" required />
        <mat-error class="col" *ngIf="formGroup.get('name')?.hasError('required')">
          {{'name'| translate}} {{'required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row pt-2">
      <mat-form-field class="col">
        <input matInput [formControlName]="'shortName'" [placeholder]="'shortName' | translate" required />
        <mat-error class="col" *ngIf="formGroup.get('shortName')?.hasError('required')">
          {{'shortName'| translate}} {{'required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row pt-2">
      <mat-form-field class="col">
        <input matInput [formControlName]="'translatedName'" [placeholder]="'translatedname' | translate" required />
        <mat-error class="col" *ngIf="formGroup.get('translatedName')?.hasError('required')">
          {{'translatedname'| translate}} {{'required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row pt-2">
      <mat-form-field class="col">
        <input matInput [formControlName]="'translatedShortName'" [placeholder]="'translatedShortName' | translate" required />
        <mat-error class="col" *ngIf="formGroup.get('translatedShortName')?.hasError('required')">
          {{'shortName'| translate}} {{'required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row pt-2">
      <mat-form-field>
        <input [formControlName]="'start'" [dropSpecialCharacters]="false" matInput mask="Hh:m0" type="Text" [placeholder]="'start' | translate"/>
      </mat-form-field>
      <mat-form-field>
        <input [formControlName]="'end'" [dropSpecialCharacters]="false" matInput mask="Hh:m0" type="Text" [placeholder]="'end' | translate"/>
      </mat-form-field>
    </div>


  </form>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="onSave()" [disabled]="!formGroup.valid">{{'save'| translate}} </button>
  <button mat-stroked-button mat-dialog-close color="blue">{{'cancel'| translate}} </button>
</div>
