.cdk-overlay-pane.app-dialog {
  position: relative !important;
}

.cdk-overlay-pane.confirm-dialog {
  position: relative !important;
}

.close.mat-icon-button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 14px;
  min-width: auto;
  margin: 10px 10px 0px 0px;
}

.mat-dialog-container {
  padding: 20px !important;
  border-radius: 5px !important;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1) !important;
}

.mat-dialog-title {
  letter-spacing: 1px;
  text-align: center !important;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold !important;
  margin: 0px 0px 30px 0px !important;
  display: flex !important;
  cursor: move !important;
  align-items: baseline;
  justify-content: center;
}

.mat-dialog-actions {
  padding: 0px !important;
  display: flex;
  flex-wrap: wrap;
  min-height: 0px !important;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 0px !important;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.mat-dialog-content {
  margin: 0px !important;
  padding: 0px 24px 10px 24px !important;
  /*display: block;
  
  max-height: 100vh;
  -webkit-overflow-scrolling: touch;*/
}


.mat-dialog-actions .mat-button-base + .mat-button-base, .mat-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
  margin-left: 0px !important;
}

.confirm-dialog .mat-dialog-container {
  padding: 60px 60px 40px 60px !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1) !important;
  max-width: 700px;
  min-width: 500px;
}

.confirm-dialog .mat-dialog-content {
  display: block;
  margin: 0px !important;
  padding: 0px !important;
  max-height: 65vh;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.confirm-dialog .mat-dialog-actions {
  padding: 0px !important;
  display: flex;
  flex-wrap: wrap;
  min-height: 0px !important;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 0px !important;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}


@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .mat-dialog-title {
    font-size: 24px;
  }
}
