<div class="container-fluid">
  <div class="flex-title">
    <app-title class="flex-title-item" [title]="title"></app-title>
  </div>
  <div class="container-inside">
    <div class="row pt-2" *ngIf="formGroup">
      <form [formGroup]="formGroup">
        <mat-form-field class="col">
          <mat-select [formControlName]="'product'" [placeholder]="'productName' | translate" #singleSelect required>
            <mat-option>
              <ngx-mat-select-search [formControl]="filterCtrl"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let option of filtered | async" [value]="option">
              {{option.code}} - {{ (languageService.getCurrentLanguage() | async) == 'hu' ? option.name : option.translatedName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get('product')?.hasError('required')">
            {{'productName'| translate}} {{'required' | translate}}
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <app-interval-view [intervalOptions]="intervalOptions">
    </app-interval-view>
    <div>
      <app-quality-history-monthly-table [items]="results"></app-quality-history-monthly-table>
      <div>
        <div *ngFor="let item of results" class="chart">
          <app-quality-history-monthy-chart [model]="item"></app-quality-history-monthy-chart>
        </div>
      </div>
    </div>
  </div>
</div>

