
<form [formGroup]="formGroup" *ngIf="formGroup">
  <div class="row pt-2">
    <mat-form-field class="col">
      <mat-select [formControlName]="'product'" [placeholder]="'products.title' | translate" [multiple]="true" #multiSelect required panelClass="myPanelClass">
        <mat-option>
          <ngx-mat-select-search [formControl]="productFilterCtrl"> </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let option of filteredProductsMulti | async" [value]="option">
          {{option.code}} - {{ (languageService.getCurrentLanguage() | async) == 'hu' ? option.name : option.translatedName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.get('product')?.hasError('required')">
        {{'products.title'| translate}} {{'required' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="pb-3">
    Kiválasztott termékek:
  </div>
  <ul *ngFor="let option of formGroup.get('product')?.value">
    <li> {{option.code}} - {{ (languageService.getCurrentLanguage() | async) == 'hu' ? option.name : option.translatedName}}</li>
  </ul>
</form>


