.logo{
    margin-top:40px;
    width:150px;
}
.version{
   padding:10px;
}
.name {
  padding-left: 10px;
  padding-top:10px;
}
.email {
  padding-left: 10px;
  font-size:12px;
}
.documentation {
  padding-left: 10px;
  padding-top: 20px;
}
