<form [formGroup]="entityGroupService.treeForm" *ngIf="entityGroupService.treeForm && entityGroupService.treeForm.get('node')">
  <ng-container formGroupName="node">
    <div class="row pt-2">
      <mat-form-field class="col">
        <mat-select [formControlName]="'product'"
                    [placeholder]="'products.title' | translate"
                    [multiple]="true"
                    #multiSelect
                    required
                    panelClass="myPanelClass">
          <mat-option>
            <ngx-mat-select-search [formControl]="productFilterCtrl"> </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let option of filteredProductsMulti | async ; trackBy: trackById" [value]="option">
            {{option.code}} - {{ (languageService.getCurrentLanguage() | async) == 'hu' ? option.name : option.translatedName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="pb-3">
      {{'selected' | translate}} {{'products.title'  | translate | lowercase}}
    </div>
    <ul *ngFor="let option of entityGroupService.treeForm.get('node').get('product')?.value">
      <li> {{option.code}} - {{ (languageService.getCurrentLanguage() | async) == 'hu' ? option.name : option.translatedName}}</li>
    </ul>
  </ng-container>
</form>
