.preview {
  background: white;
  
}

.preview-content {
  break-inside: avoid;
  break-after: page;
}
.main-table {
  break-inside: avoid;
  //page-break-after: always;
}
.inside-row {
  break-inside: avoid;
  break-after: auto;
}
.break-item {
  break-before: page;
  break-inside: auto;
  break-after: page;
 
}
.item {
  break-before: page;
  page-break-inside: auto;
  break-after: page;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
@media print {
  @page {
    size: A4 landscape;
    margin: 10mm 10mm 10mm 10mm;
  }
  .preview-content {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
  .hidden {
    display: block;
  }
  .item {
    display: block;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
  .break-item {
    display:block;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
  
}

