<dialog-header [title]="title" (cancel)="onCancel()"></dialog-header>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="row pt-2">
      <mat-form-field class="col">
        <input matInput [formControlName]="'name'" [placeholder]="'name' | translate" required />
        <mat-error class="col" *ngIf="formGroup.get('name')?.hasError('required')">
          {{'name'| translate}} {{'required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row pt-2">
      <mat-form-field class="col">
        <input matInput [formControlName]="'code'" [placeholder]="'code' | translate" required />
        <mat-error class="col" *ngIf="formGroup.get('code')?.hasError('required')">
          {{'code'| translate}} {{'required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row pt-2">
      <mat-form-field class="col">
        <input matInput [formControlName]="'translatedName'" [placeholder]="'translatedname' | translate" required />
        <mat-error class="col" *ngIf="formGroup.get('translatedName')?.hasError('required')">
          {{'translatedname'| translate}} {{'required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row pt-2">
      <mat-form-field class="col">
        <mat-select [formControlName]="'defectCategory'" [placeholder]="'defects.defectCategory' | translate" required>
          <mat-option *ngFor="let option of categories" [value]="option.id">
            {{ option.name }}
          </mat-option>
        </mat-select>
        <mat-error class="col" *ngIf="formGroup.get('defectCategory')?.hasError('required')">
          {{'defects.defectCategory'| translate}} {{'required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row pt-2">
      <mat-form-field class="col">
        <mat-select [formControlName]="'operationId'" [placeholder]="'operationName' | translate" required>
          <mat-option *ngFor="let option of operations" [value]="option.id">
            {{ option.name }}
          </mat-option>
        </mat-select>
        <mat-error class="col" *ngIf="formGroup.get('operationId')?.hasError('required')">
          {{'operationName'| translate}} {{'required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="onSave()" [disabled]="!formGroup.valid">{{'save'| translate}} </button>
  <button mat-stroked-button  color="blue" (click)="onCancel()">{{'cancel'| translate}} </button>
</div>

