<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100428800" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime maxUrlLength="8192" maxQueryStringLength="16384"/>
  </system.web>
</configuration>

