.initial-avatar {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #d1d5db;
  color: #fff;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 40px;
}
