<ng-container>
  <dialog-header [title]="title" (cancel)="onCancel()">

  </dialog-header>
  <mat-dialog-content>
    <div class="name">{{helpCenterInformation?.supportName}}</div>
    <div class="email"><a href="mailto:{{helpCenterInformation?.supportContact}}">{{helpCenterInformation?.supportContact}}</a></div>
    <div class="name"> {{helpCenterInformation?.itName}}</div>
    <div class="email"><a href="mailto:{{helpCenterInformation?.itContact}}">{{helpCenterInformation?.itContact}}</a></div>
    <div class="name">{{helpCenterInformation?.adminName}}</div>
    <div class="email"><a href="mailto:{{helpCenterInformation?.adminContact}}">{{helpCenterInformation?.adminContact}}</a></div>
    <div class="documentation"><a href="/images/myw3schoolsimage.jpg" download>Felhasználói kézikönyv</a></div>

    <img class="logo" [src]="imageSrc" class="logo" />
    <div class="version">
      <div>{{'version' | translate}}{{applicationInformation?.version}}</div>
      <div>{{applicationInformation?.copyRight}}</div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-raised-button cdkFocusInitial color="blue" (click)="onCancel()">{{'close'| translate}} </button>
  </div>
</ng-container>

