.avatar-group{
  margin-top:50px;
  margin-bottom:100px;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.sub-header {
  display: flex;
  gap: 20px;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {

  margin-bottom: 50px;
  }
.save-button{
    margin-top:50px;
}
.avatar-container {
  display: flex;
  gap: 30px;
}
.avatar-item {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
